<?php

return array(
    'mysql' => array(
        'host'      => 'localhost',
        'port'      => '3306',
        'user'      => 'root',
        'password'  => '',
        'database'  => 'restfulslim',
        'options'   => array(
            PDO::ATTR_PERSISTENT=>false,
            PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
            PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC,
        ),
        'execute'   => array(
            'SET names "utf8"',
            'SET collation_connection="utf8_general_ci"',
            'SET collation_server="utf8_general_ci"',
            'SET character_set_client="utf8"',
            'SET character_set_connection="utf8"',
            'SET character_set_results="utf8"',
            'SET character_set_server="utf8"',
            'SET time_zone = "UTC"',
        ),
    ),
);
